In [20]:
import data
import pandas as pd

In [48]:
# Market information
ob = pd.DataFrame(data.read_file(file_name = "orderbooks_05jul21.json", folder_route = "files/")['bitfinex']).transpose().reset_index()
ob['index'] = pd.to_datetime(ob['index'])
ob = ob.set_index('index').resample('S').last().ffill()
for column in ob.columns:
    ob[column] = ob[column].apply(lambda x: x['0'])
ob['ask_size_var'] = ob['ask_size'].diff()
ob['bid_size_var'] = ob['bid_size'].diff()

# Initial Prices
initial_prices = ob[['ask','bid']].iloc[0]

#

,ask_size,ask,bid,bid_size,ask_size_var,bid_size_var
index,,,,,,
2021-07-05 13:06:46+00:00,0.025405,28275.0,28270.0,0.000400,NaN,NaN
2021-07-05 13:06:47+00:00,0.025405,28275.0,28270.0,0.000400,0.000000,0.000000
2021-07-05 13:06:48+00:00,0.025405,28275.0,28270.0,0.000400,0.000000,0.000000
2021-07-05 13:06:49+00:00,0.025405,28275.0,28270.0,0.000400,0.000000,0.000000
2021-07-05 13:06:50+00:00,0.025405,28275.0,28270.0,0.000400,0.000000,0.000000
...,...,...,...,...,...,...
2021-07-05 14:06:45+00:00,0.003464,28359.0,28354.0,0.007629,-0.911937,0.002829
2021-07-05 14:06:46+00:00,0.003464,28359.0,28354.0,0.007629,0.000000,0.000000
2021-07-05 14:06:47+00:00,0.003464,28359.0,28354.0,0.007629,0.000000,0.000000
2021-07-05 14:06:48+00:00,0.003464,28359.0,28354.0,0.007629,0.000000,0.000000
2021-07-05 14:06:49+00:00,0.003464,28359.0,28354.0,0.007629,0.000000,0.000000

In [40]:
# Market Making Conditions

numpy.datetime64('2021-07-05T13:06:46.000000000')