In [1]:
# Project Libraries
import data

# Generic Libraries
import numpy as np
import pandas as pd

In [2]:
# Market information
ob = pd.DataFrame(data.read_file(file_name = "orderbooks_05jul21.json", folder_route = "files/")['bitfinex']).transpose().reset_index()
ob['index'] = pd.to_datetime(ob['index'])
ob = ob.set_index('index').resample('min').last().ffill()
for column in ob.columns:
    ob[column] = ob[column].apply(lambda x: x['0'])
# Initial Prices
initial_prices = ob[['ask','bid']].iloc[0]
initial_prices
# Registro de ordenes

ask    28283.0
bid    28282.0
Name: 2021-07-05 13:06:00+00:00, dtype: float64

Data Frames:
- Orderbook with previous operations
- Liquidity pools history (deliverable)
- Trade History (deliverable)

In [14]:
ob['ask_size'].diff()

index
2021-07-05 13:06:00+00:00         NaN
2021-07-05 13:07:00+00:00    2.692249
2021-07-05 13:08:00+00:00   -2.389489
2021-07-05 13:09:00+00:00   -0.254627
2021-07-05 13:10:00+00:00   -0.145209
                               ...
2021-07-05 14:02:00+00:00    3.505727
2021-07-05 14:03:00+00:00   -3.165590
2021-07-05 14:04:00+00:00   -0.375079
2021-07-05 14:05:00+00:00    0.435718
2021-07-05 14:06:00+00:00   -0.442185
Freq: T, Name: ask_size, Length: 61, dtype: float64

In [15]:
np.nan

nan

In [ ]:
def volume_fill( volume_variation, positioned_volume ):
    if volume_variation > 0:
        if positioned_volume - volume_variation > positioned_volume:
            return np.nan
        else:
            return 1 -( positioned_volume - volume_variation)
    else:
        return positioned_volume

In [ ]:
def trade_trigger()

In [90]:
# Liquidity Pool
initial_liquidity_base  = 5 
initial_liquidity_quote = 5
liquidity_pool = pd.DataFrame(
    np.reshape( np.array([ initial_liquidity_base, initial_liquidity_quote ]), [1,-1] ), 
               columns = [ 'Base', 'Quote' ], index = [ ob.index.values[0] ]
)
liquidity_pool

                     Base  Quote
2021-07-05 13:06:00     5      5

In [61]:
# Explanation Missing
def position_valuation(size: float, price_variation: float, operation: str = None, constant_position_base: float = .0001):
    # Ask
    if operation == 'ask':
        if price_variation >= 0:
            if ( constant_position_base - size ) < 0:
                current_position = 0
            else:
                current_position = constant_position_base - size
        else:
            current_position = constant_position_base
    # Bid
    if operation == 'bid':
        if price_variation <= 0:
            if ( constant_position_base - size ) < 0:
                current_position = 0
            else:
                current_position = constant_position_base - size
        else:
            current_position = constant_position_base
    return current_position

In [62]:
for i in range(1,len(ob)):
    try:
        position_valuation( size = ob['ask_size'].iloc[i], price_variation = ob['ask_var'].iloc[i],
                            operation = np.repeat( 'ask', len(ob) )[i]
                        )
    except:
        print(i)

In [78]:
def order_book_information(order_book, position):
    # Ask
    order_book['ask_var'] = (order_book['ask']-initial_prices['ask'])
    order_book['bid_var'] = (order_book['bid']-initial_prices['bid'])

    order_book['ask_position'] = [ position_valuation( 
        size = order_book['ask_size'].iloc[i], price_variation = order_book['ask_var'].iloc[i], operation = np.repeat( 'ask', len(order_book) )[i]
                    ) for i in range(len(order_book)) ]

    order_book['bid_position'] = [ position_valuation( 
        size = order_book['bid_size'].iloc[i], price_variation = order_book['bid_var'].iloc[i], operation = np.repeat( 'bid', len(order_book) )[i]
                    ) for i in range(len(order_book)) ]
    return order_book

In [ ]:
def trade_trigger( position,constant_position_base: float = .0001 ):
    if position != constant_position_base:
        # Activate Trade Function

In [ ]:
def token_request(liquidity_pool)

In [77]:
order_book_information(ob, 0)

,ask_size,ask,bid,bid_size,ask_var,ask_position,bid_var,bid_position
index,,,,,,,,
2021-07-05 13:06:00+00:00,0.100600,28283.0,28282.0,0.338172,0.0,0.0,0.0,0.0000
2021-07-05 13:07:00+00:00,2.792849,28325.0,28323.0,0.594797,42.0,0.0,41.0,0.0001
2021-07-05 13:08:00+00:00,0.403360,28315.0,28309.0,0.093481,32.0,0.0,27.0,0.0001
2021-07-05 13:09:00+00:00,0.148733,28333.0,28329.0,0.339650,50.0,0.0,47.0,0.0001
2021-07-05 13:10:00+00:00,0.003524,28341.0,28336.0,3.807731,58.0,0.0,54.0,0.0001
...,...,...,...,...,...,...,...,...
2021-07-05 14:02:00+00:00,3.550600,28292.0,28288.0,0.446627,9.0,0.0,6.0,0.0001
2021-07-05 14:03:00+00:00,0.385010,28301.0,28295.0,0.600127,18.0,0.0,13.0,0.0001
2021-07-05 14:04:00+00:00,0.009931,28352.0,28340.0,0.357682,69.0,0.0,58.0,0.0001
2021-07-05 14:05:00+00:00,0.445649,28361.0,28355.0,0.006000,78.0,0.0,73.0,0.0001
2021-07-05 14:06:00+00:00,0.003464,28359.0,28354.0,0.007629,76.0,0.0,72.0,0.0001

In [ ]:
def liquidity_verification()

In [ ]:
def trade()

In [40]:
# Market Making Conditions
constant_position_base = 0.0001
liquidity_pool_base  = []
liquidity_pool_quote = []

numpy.datetime64('2021-07-05T13:06:46.000000000')